<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description>first servlet</description>
    <display-name>ExampleServlet1</display-name>
    <servlet-name>ExampleServlet1</servlet-name>
    <servlet-class>com.fdmgroup.servletExample.ExampleServlet1</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ExampleServlet1</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet> 
    <display-name>ExampleServlet1</display-name>
    <servlet-name>LoginWelcome</servlet-name>
    <jsp-file>/Welcome.jsp</jsp-file>
</servlet>

<servlet-mapping>
    <servlet-name>LoginWelcome</servlet-name>
    <url-pattern>/YourHome</url-pattern>
</servlet-mapping>
  
  <filter>
  	   <filter-name>HitsCounter</filter-name>
       <filter-class>com.fdmgroup.servletExample.HitCounterFilter</filter-class>  
  </filter>
      
   <filter-mapping>
       <filter-name>HitsCounter</filter-name>
       <servlet-name>LoginWelcome</servlet-name>
	   <dispatcher>FORWARD</dispatcher> 
   </filter-mapping>
  
</web-app>